---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<aside class="sidebar">
  <img src="https://github.com/sogud.png" alt="Avatar" class="avatar" />
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/blog">Essays</HeaderLink>
    <HeaderLink href="/photography">Photography</HeaderLink>
    <HeaderLink href="https://github.com/sogud" target="_blank">GitHub</HeaderLink>
    <HeaderLink href="/rss.xml">RSS</HeaderLink>
  </nav>
</aside>