---
import HeaderLink from './HeaderLink.astro';
---

<aside class="sidebar">
  <img src="https://github.com/sogud.png" alt="Avatar" class="avatar" />
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/blog">Essays</HeaderLink>
    <HeaderLink href="/photography">Photos</HeaderLink>
  </nav>
</aside>
