---
import { ViewTransitions } from 'astro:transitions';
import BaseHead from '../components/BaseHead.astro';
import Sidebar from '../components/Sidebar.astro';
import BackToTop from '../components/BackToTop.astro';

const { title, description } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body>
    <Sidebar />
    <div class="layout">
      <main class="main-content">
        <article class="blog-post">
          <slot />
        </article>
      </main>
    </div>
    <BackToTop />
  </body>
</html>